<p class="meta">

  <time itemprop="datePublished" datetime="{{ dateFormat " 2006-01-02" .Date }}">{{ dateFormat "January 02, 2006" .Date}}</time> &bull;
  {{ partial "tags.html" .}}
  <br />

  <span>Words: {{ countwords .Content }} | Characters: {{ countrunes .Content }} | Reading Time: {{ .ReadingTime }}minutes</span>
  <br />

  <span>Author(s):</span>
  </br>
  {{ range .Param "authors" }}
  <span class="author">
    {{ with .name }}
    <span>{{ . }}</span> &bull;
    {{ end }}
    {{ with .website }}
    <a target="_blank" href="{{ . }}">{{ . }}</a> &bull;
    {{ end }}
    {{ with .twitter }}
    <a target="_blank" href="https://twitter.com/{{ . }}">@{{ . }}</a> &bull;
    {{ end }}
    {{ with .github }}
    <a target="_blank" href="https://github.com/{{ . }}"><i class="fa-brands fa-github"></i> {{ . }}</a>
    {{ end }}
  </span>
  </br>
  {{ end }}
</p>
